In [4]:
var1 = 'Hello World'
var2 = 4
var3 = 37.5

In [2]:
print(var1)

Hello World

In [5]:
var2

4

In [6]:
var3

37.5

In [10]:
type(var1)

str

In [11]:
type(var2)

int

In [12]:
type(var3)

float

In [13]:
var2 + var3

41.5

In [14]:
type(var2 + var3)

float

In [15]:
var1 + var2

TypeError: Can't convert 'int' object to str implicitly

In [16]:
var4 = "44"

In [ ]:
# typecasting in python

In [17]:
(int(var4) + var2)

48

In [23]:
print(20 * "HELLO WORLD\n")

HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

In [24]:
print("ENTER NUMBER")

ENTER NUMBER

In [27]:
inpnum = input()
print("you entered number 10 times is -->", int(inpnum)*10)

30
you entered number 10 times is --> 300

In [28]:
n1 = input()

20

In [29]:
n2 = input()

30

In [30]:
print(n1 + n2)

2030